@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    height:100vh; 
  margin:0; 
  display:flex; 
  flex-direction:column;
}

/* ########################################## Utility classes ################################################### */

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.btn:hover{
    color: #ddd;
    background-color: #35b39a;
}

.bttn{
    display: inline-block;
    padding: 1em 2.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
}

.btn-primary{
    color: #fff;
    background-color: #16a083;
}    
/* ########################################## Header Style ################################################### */
.header{
    text-align: center;
    background-color: #35b39a;
    color: white;
    padding: 6rem 0;
    font-weight: 800;
    font-size: 2.5vw;
    background-attachment: fixed;
}

/* ########################################## nav Style ################################################### */

/* .navbar{
    color: #444;
    z-index: 999;
    position: sticky;
    top: 0;
    opacity: 1;
} */

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: sticky;
    width: 100%;
    background-color: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 999;
    top: 0;
}

.navbar::after{
    content: '';
    clear: both;
    display: table;
}

.navbar .logo a{
    float: left;
    color: rgb(95, 95, 95);
    font-size: 4rem;
    font-weight: 500;
    line-height: 70px;
    /* padding-left: 60px; */
    text-transform: uppercase;
    text-decoration: none;
}

.navbar .logo a:hover{
    color: #16a083;
}

.navbar ul{
    float: right;
    list-style: none;
    /* margin-right: ; */
    position: relative;
}

.navbar ul li{
    float: left;
    display: inline-block;
    /* background-color: ; */
    margin: 0 5px;
}

.navbar ul li a{
    color: #444;
    text-decoration: none;
    line-height: 70px;
    font-size: 1.8rem;
    padding: 9px 15px;
}
.navbar ul li:hover{
    background-color: rgb(39, 39, 39);
}

.navbar ul li:hover a{
    color: #fff;
}
.navbar ul ul{
    position: absolute;
    top:65px ;
    background-color: rgb(39, 39, 39);
    color: #fff;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s ;
} 
.navbar ul ul li a{
    /* color: #fff; */
}

nav ul li:hover > ul{
    /* top: 65px; */
    opacity: 1;
    visibility: visible;
}

.navbar ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom:1px solid black ;
}


.show,.icon, input{
    display: none;
}
/* ########################################## flickity carousele style ######################################### */

/* .carousel {
    background: #EEE;
} */

.carousel-container-1-heading{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 300;
    
}

.carousel-container-1-heading span{
    border-bottom: 2px solid #16a083 ;
    
}

.carousel-cell {
    width: 100%;
    /* height: 200px; */
    /* margin-right: 10px; */
    /* background: #8C8; */
    border-radius: 5px;
    counter-increment: carousel-cell;
}

.carousel-cell img{
    display: block;
    margin: 0 auto;
    width: 50%;
    /* height: 20vw; */

}

.carousel-cell a{
    display: block;
    margin: 0 auto;
    width: 10%;
    text-align: center;
}

/* ########################################## flickity carousele -2 style ######################################### */


.carousel-container-2-heading{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 300;
}

.carousel-container-2-heading span{
    border-bottom: 2px solid #16a083 ;
}

.carousel-container-2{
    padding: 5rem 0;
}

.carousel-2 {
    background: #EEE;
}
  
.carousel-cell-2 {
    width: 28%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
}
  
.carousel-cell-2.is-selected {
    background: #ED2;
 }
  
  /* cell number */
.carousel-cell-2:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}


/* ########################################## About style ######################################### */

#about_us{
    padding: 50px 0px;
    /* background-color: #f5f5f7; */
}

.about-container{
    display: flex;
    flex-wrap: wrap;
}
.about-container h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 300;
}

.about-container h2 span{
    border-bottom: 2px solid #16a083 ;
}

.about-container h3{
    font-size: 2rem;
    text-align: center;
    padding: 0.4rem 0;
}

.about-container p{
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.about-img{
    flex: 1 1 400px;
    padding: 30px;
    transform: translateX(150%);
    animation: about-img-slide 1s ease-in forwards;
}

@keyframes about-img-slide {
    100%{
        transform: translateX(0);
    }
}

.about-text{
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translateX(-150%);
    animation: about-text-slide 1s ease-in forwards;
}
@keyframes about-text-slide {
    100%{
        transform: translate(0);
    }
}

.about-img img{
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: left;
}

/* ########################################## contact us style ################################################### */
#contact{
    padding: 5rem 0;
    /* background-color: rgb(226, 226, 226); */
}

.contact-container{
    display: flex;
    background-color: #fff;
}

.contact-img{
    width: 50%;
}

.contact-img img{
    display: block;
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: left;
}

.form-container{
    padding: 1rem;
    width: 50%;
    margin: auto;
}

.form-container input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
    font-size: 1.5rem;
}

.form-container textarea{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    outline: none;
    font-size: 1.5rem;
}

.form-container h2{
    font-size: 3rem;
    font-weight: 400;
    color: #444;
    margin-bottom: 1rem ;
}

/* ########################################## Footer style ################################################### */


#footer{
    margin-top:auto; 
  }

#footer h2{
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
    font-weight: 500;
    color: #fff;
    background-color: rgb(65, 65, 65);
}
  


/* ########################################## Login form style ################################################### */

.login-container{
    margin: 7rem auto;
    text-align: center;
}

.login-container h1{
    font-size: 3rem;
}
.login-container p{
    font-size: 1.4rem;
}

.login-container form{
    margin: auto;
    width: 50%;
    padding: 20px;
}
.login-container input{
    display: block;
    width: 70%;
    margin: auto;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
    font-size: 2rem;
}

.login-container p a{
    color: #000;;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Hide and Show icon %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.hideAndshow{
    display: flex;
}

.password-icon{
    position: relative;
    top: 15%;
    right: 15%;
}

.password-icon>*{
    width: 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    padding: 0.5em;
}

#showIcon{
    display: none;
}

/* ########################################## Registration form style ############################################# */

.register-container{
    margin-top: 3rem;
    text-align: center;
}

.register-container h1{
    font-size: 3rem;
}
.register-container p{
    font-size: 1.4rem;
}

.register-container form{
    margin: auto;
    width: 50%;
    padding: 20px;
}
.register-container input{
    display: block;
    width: 70%;
    margin: auto;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
    font-size: 2rem;
}

.register-container p a{
    color: #000;;
}


/* ########################################## Forgrt Password Style ############################################# */

.forget-container{
    margin: 7rem auto;
    text-align: center;
}

.forget-container h1{
    font-size: 3rem;
}
.forget-container p{
    font-size: 1.4rem;
}

.forget-container form{
    margin: auto;
    width: 50%;
    padding: 20px;
}

.forget-container input{
    display: block;
    width: 70%;
    margin: auto;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
    font-size: 2rem;
}

.forget-container p a{
    color: #000;;
}



/* ########################################## media queries ############################################# */


@media (max-width:768px){

    html{
        font-size: 50%;
    }

    .navbar ul{
        margin-right: 0;
        float: left;   
    }

    .navbar .logo{
        padding-left: 30px;
        width: 100%;
    }
    .navbar ul li,
    .navbar ul ul li{
        display: block;
        width: 100%;

    }
    .navbar ul ul{
        top: 70px;
        position: static;
        border-top:none ;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
        background-color: white;
        border-bottom: none;
        /* color: #fff; */
    
    }

    

    .navbar ul ul li{
        position: static;
    }

    .navbar ul ul a{
        padding-left: 40px;
        /* color: #444; */
    }
    .show{
        display: block;
        /* color: #444; */
        font-size: 1.8rem;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;

    }

    
    .navbar ul li:hover{
        background-color: white;
    }
    .navbar ul li:hover a{
        color: #444;
    }
    .show:hover{
        color: #444;
        background-color: white;
    }

    .icon{
        display: block;
        color: #666;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size:25px ;
        cursore:pointer;
    }
    /* [id^="btn-1"]:checked + .show{
        color: #fff;
    } */
    .show + a, ul{
        display: none;
    }
    

    [id^=btn]:checked + ul{
        display: block;
    }
    .navbar ul li a:hover{
        box-shadow: none;

    }


    /* login form */
    .login-container form{
        margin: auto;
        width: 85%;
        padding: 5px;
    }

    .login-container input{
        width: 80%;
        
    }

    /* Registraion form */
    .register-container form{
        margin: auto;
        width: 85%;
        padding: 5px;
    }
    .register-container input{
        width: 80%;
    }
    /* contact form */
    .form-container{
        width: 90%;
    }
    .contact-img{
        width: 90%;
        margin: 3rem auto;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
    }
}
