{% extends 'base.html' %}

{% load static %}

{% block title %}
Password Reset Complete
{% endblock title %}


{% block body %}
<!-- registraion form -->
    <section class="forget-message-form">
        <div class="forget-message-container container">
        <div class="for-center">
            <h1>Email has been sent!</h1>
            <p> <b> Please Check Your Email </b> </p>
    <br>
    <br>
            <p> After Password Change <a href="/login">Back to login</a></p>
        </div>
        </div>
    </section>
{% endblock body %}  