{% extends 'base.html' %}

{% load static %}

{% block title %}
Password Reset Complete
{% endblock title %}


{% block body %}
<!-- registraion form -->
    <section class="forget-message-form">
        <div class="forget-message-container container">
        <div class="for-center">
            <h1>Password Reset Successfull :)</h1>
            <p></p>
        <br>
            <p> Login to your Account <a href="/login">Login</a></p>
            </div>
        </div>
    </section>
{% endblock body %} 